
#loading {
    background:  url("/images/spinner.gif") no-repeat center center;
    /* background-color: black;   */
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: 20%;
    z-index: 9999999;
}

/* body{
    background-color: black;
    color: wheat;
}
button{
    background-color: black;
    color: wheat;
} */

.hide{
    display: none;
}

/* #search_list{
    color: red;
} */


