/* ----------------------------- BODY OF PAGE ---------------------------- */
body {
    font-family: 'Brandon Grotesque','Lato';
    margin: 0;
    padding: 0;
}


/* -------------------- Long term liabilities heading -------------------- */
h2 {
    color: #112D4E;
    font-weight: 500;
}


/* ---------------------- INCOME AND EXPENCE BOXES ----------------------- */
.container-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
    margin-bottom: 4%;
}
.item {
    background: url("../../images/income_box.png") center no-repeat;
    background-position: 130% 77%;
    background-size: 18.75rem;
    border: 1px solid #112d4e3d;
    border-radius: 10px;
    padding: 2.1875rem;
    color: #112D4E;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
}
.item:hover {
    border: 1px solid #112d4e86;
    /* margin: -1px; */
}
.item span {
    color: #3F72AF;
    font-size: larger;
    margin-left: 1%;
}


/* ------------- class for TABLE, LOAN HEADING, INCOME boxes ------------- */
.container {
    width: 71.875rem;
    margin-right: auto;
    margin-left: auto;
}


/* -------------------------------- TABLE -------------------------------- */
table {
    border-collapse: collapse;
    table-layout: fixed;
    overflow: hidden;
    width: 100%;
    color: #112D4E;
    border-radius: 0.625rem;
    border: 1px solid #d0d0d06e;
    margin-bottom: 15%;
}
thead {
    border-collapse: collapse;
    border-bottom: 1px solid #112d4e9c;
    /* background-color: #F9F7F7; */
}
thead th{
    font-weight: 500;
    font-size: 1.2rem;
    color: #3F72AF;
    letter-spacing: 0.03125rem;
}
tbody td {
    letter-spacing: 0.03125rem;
    font-size: 1.04rem;
    border-bottom: 1px solid #abb7cc70;
    text-align: center;
}
th, td {
    padding: 0.9375rem;
}
tbody td:nth-child(1) {
    text-align: left;
    column-width: auto;
}
tfoot td {
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    color: #3F72AF;
    border: none;
}


/* ----------------------------- EDIT BUTTON ----------------------------- */
.edit-btn i {
    text-decoration: none;
    color: #3F72AF;
}
.edit-btn {
    background: none;
    border-style: none;
    border-radius: 1.25rem;
    box-sizing: border-box;
    color: #112D4E;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: normal;
    padding: 0.3125rem 0.625rem;
    cursor: pointer;
}
.edit-btn:hover {
    border: 1px solid #112d4e9c;
}


/* ----------------------- EVERYTHING IN MODAL --------------------------- */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}
.modal-content {
    background-color: #ffffff;
    margin: 7% auto;
    padding: 1.5625rem;
    border: 1px solid #888;
    border-radius: 0.625rem;
    width: 30%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
@-webkit-keyframes animatetop {
    from {
        top: -18.75rem;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}
@keyframes animatetop {
    from {
        top: -18.75rem;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}
.close {
    color: #c5d1e9;
    float: right;
    font-size: 1.75rem;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #112D4E;
    text-decoration: none;
    cursor: pointer;
}

/* ----------------------- HEADING INSIDE MODAL -------------------------- */
h3 {
    color: #3F72AF;
    letter-spacing: 0.03125rem;
    font-weight: 500;
    font-size: 1.5rem;
    margin-left: 0.5rem;
}

/* ------------------------ FORM INSIDE MODAL ---------------------------- */
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form div {
    width: 100%;
    margin: 0.625rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
input {
    border: none;
    outline: none;
    background: none;
    border: 0.01rem solid #112d4e54;
    width: 13.5625rem;
    padding: 0.3125rem;
    border-radius: 0.4375rem;
    font-size: 0.9rem;
    color: #112D4E;
}
input:focus{
    border: 0.01rem solid #112d4ecb;
}
label {
    letter-spacing: 0.03125rem;
    font-size: 1.1rem;
    color: #112D4E;
}

/* ------------------------ SAVE BTN IN MODAL ---------------------------- */
.saveBtn {
    position: relative;
    top: 3.125rem;
    outline: none;
    line-height: normal;
    border-style: none;
    box-sizing: border-box;
    padding: 0.625rem;
    width: -webkit-fill-available;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #3F72AF;
    border-radius: 0.7rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 0.125rem;
    color: #F9F7F7;
    cursor: pointer;
}
.saveBtn:hover {
    background-color: #DBE2EF;
    color: #3F72AF;
}

/* ------------------------ INFO MSG IN MODAL ---------------------------- */
.modal p {
    padding: 0.1875rem;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 0.625rem;
    font-size: 1rem;
    font-weight: 500;
    color: #704589;
    position: relative;
    top: -2.75rem;
}
.modal p i{
    font-size: 0.9375rem;
    margin-right: 1%;
}
