body {
    font-family: 'Brandon Grotesque','Lato';
    margin: 0;
    padding: 0;
}


.empty-msg{
    border-radius: 0.625rem;
    width: 35rem;
    margin: auto;
    margin-top: 6.25rem;
    padding: 3.75rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border: 1px solid #112d4e57;
    /* background-color: #F9F7F7; */
    /* box-shadow: #0000000c 0 3px 5px 0px, #0000000e 0 3px 5px 0, #00000010 0 1px 5px 0; */
}
.empty-msg #p1{
    margin-top: 4%;
    font-size: 1.9rem;
    text-align: center;
    color: #112D4E;
}
.empty-msg #p2{
    text-align: center;
    font-size: 1.2rem;
    color: #112d4ead;
}


.addBtn1{
    display: flex;
    justify-content: center;
}
.addBtn1 input{
    border: none;
    outline: none;
    padding: 0.5rem;
    width: 18.75rem;
    font-family: 'Brandon Grotesque','Lato';
    font-size: 1.3rem;
    color: #F9F7F7;
    border-radius: 0.625rem;
    background-color: #3F72AF;
    cursor: pointer;
}
.addBtn1 input:hover{
    background-color: #DBE2EF;
    color: #112D4E;
}


.container {
    margin-top: 5%;
    width: 71.875rem;
    margin-right: auto;
    margin-left: auto;
}
.container h2{
    color: #112D4E;
    font-weight: 500;
    text-align: center;
    font-size: 1.9rem;
}


table {
    border-collapse: collapse;
    table-layout: fixed;
    overflow: hidden;
    width: 100%;
    color: #112D4E;
}
thead {
    border-collapse: collapse;
    border-bottom: 1px solid #112d4e9c;
}
th, td {
    padding: 0.9375rem;
}
th {
    font-size: 1.2rem;
    font-weight: 500;
    color: #3F72AF;
    letter-spacing: 0.03125rem;
}
td {
    text-align: center;
    font-size: 1.04rem;
    letter-spacing: 0.03125rem;
    border-bottom: 1px solid #abb7cc70;
}
tbody td:nth-child(1) {
    text-align: left;
}
tbody tr:last-child td{
    border-bottom: 1px solid #112d4e9c;
}


/* -------------EDIT AND DELETE BTN */
i {
    color: #3F72AF;
}
.edit-dlt-btn {
    background: none;
    border-style: none;
    border-radius: 1.25rem;
    box-sizing: border-box;
    color: #112D4E;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: normal;
    padding: 0.3125rem 0.625rem;
    cursor: pointer;
}
.edit-dlt-btn:hover {
    border: 1px solid #112d4e9c;
}



.addBtn2{
    display: flex;
    justify-content: end;
}
.addBtn2 button{
    border: none;
    outline: none;
    margin: 0.8rem;
    padding: 0.5rem;
    width: 3.75rem;
    font-size: 1.2rem;
    border-radius: 2rem;
    background: none;
    cursor: pointer;
    background-color: #F9F7F7;
}