body {
    font-family: 'Brandon Grotesque','Lato';
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 4%;
    width: 35rem;
    border-radius: 1.2rem;
    margin-right: auto;
    margin-left: auto;
    background-color: #F9F7F7;
    padding: 2rem;
    padding-top: 1rem;
    box-shadow: #0000000c 0 3px 5px 0px, #0000000e 0 3px 5px 0, #00000010 0 1px 5px 0;
}

.container h2{
    color: #3F72AF;
    text-align: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form div {
    width: 100%;
    margin: 0.625rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
input {
    border: none;
    outline: none;
    background: none;
    background-color: #dbe2ef87;
    width: 13.5625rem;
    padding: 0.3125rem;
    border-radius: 0.4375rem;
    font-size: 0.9375rem;
    color: #112D4E;
}
label {
    letter-spacing: 0.03125rem;
    color: #112D4E;
}
.addBtn {
    outline: none;
    line-height: normal;
    border-style: none;
    box-sizing: border-box;
    padding: 0.5rem 0.9375rem;
    width: -webkit-fill-available;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #3F72AF;
    border-radius: 1rem;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 0.03125rem;
    color: #ffffff;
    cursor: pointer;
}
.addBtn:hover {
    background-color: #DBE2EF;
    color: #3F72AF;
}