<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Insurance Details</title>

    <link rel="stylesheet" href="/css/nav-bar.css">
    <link rel="stylesheet" href="/css/insurance/insurance-form.css">
</head>

<body>
    <div class="nav-bar">
        <h1>ADD INSURANCE</h1>

        <ul class="nav-list">
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/contact">CONTACT US</a></li>
            <li><a href="/dashboard">DASHBOARD</a></li>
        </ul>
    </div>
    

    <div class="container">
        <h2>Enter your insurance details</h2>
        <form action="/insurance" method="post">
            <div>
                <label for="type">Type of Insurance: </label>
                <input type="text" name="type" id="" placeholder="Insurance Type">
            </div>
            <div>
                <label for="insurer">Insurer Company: </label>
                <input type="text" name="insurerCompany" placeholder="Insurer">
            </div>
            <div>
                <label for="start">Starting date of the plan: </label>
                <input type="date" name="startingAt" id="" placeholder="start">
            </div>
            <div>
                <label for="end">Ending date of the plan: </label>
                <input type="date" name="endingAt" id="" placeholder="ending">
            </div>
            <div>
                <label for="fee">Fee of the contract: </label>
                <input type="number" name="contractFee" id="" placeholder="fee of contract">
            </div>
            <div>
                <button class="addBtn" type="submit">ADD</button>
            </div>
        
        </form>
    </div>


</body>

</html>