<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/crypto.css" />
    <link rel="stylesheet" href="/css/nav-bar.css">

    <title>Crypto</title>
</head>

<body>

    <div class="nav-bar">
        <h1>CRYPTO</h1>

        <ul class="nav-list">
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/contact">CONTACT US</a></li>
            <li><a href="/dashboard">DASHBOARD</a></li>
        </ul>
    </div>

    <div class="container">
        <table class="table table-striped" style="margin-top: 90px">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Tier</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Symbol</th>
                </tr>
            </thead>

            <tbody id="data">
            </tbody>
        </table>
    </div>

    <script src="/js/crypto.js"></script>

</body>

</html>