<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <h1>Thanks for signup</h1>
    <h1>singned in as <%=username%>
    </h1>

    <ul>
        <li><a href="/liabilities">Liabilities</a></li>
        <li><a href="/stocks">Stocks</a></li>
    </ul>

    <a href="/logout"><button>logout</button></a>
<<<<<<< HEAD:views/complete.ejs
    <a href="/test"><button>stocks</button></a>
=======


>>>>>>> 22cd3e0221927ef811d934457922dc5f472392f7:views/dashboard.ejs
</body>

</html>