<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Cascading Stylesheets -->
    <link rel="stylesheet" href="/css/stocks/colors.css" />
    <link rel="stylesheet" href="/css/dashboard2.css" />

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/40989200a5.js" crossorigin="anonymous"></script>


    <title>Dashboard 2</title>
</head>

<body>
    <header>
        <h1>PORTFOLIO <br>MANAGER</h1>

        <div class="nav-container">
            <div class="page-container">
                <img src="../images/dashboard/dashboard.png" alt="">
                <span>Dashboard</li>
            </div>
            <div class="page-container">
                <a href="/profile">
                    <img src="../images/dashboard/profile.png" alt="">
                    <span>Profile</span>
                </a>
            </div>

            <div class="page-container">
                <a href="/liabilities">
                    <img src="../images/dashboard/liability icon 2.png" alt="">
                    <span> Liability</span>
                </a>
            </div>

            <div class="page-container">
                <a href="/insurance">
                    <img src="../images/dashboard/insurance.png" alt="">
                    <span> Insurance</span>
                </a>
            </div>

            <div class="page-container">
                <a href="/stocks">
                    <img src="../images/dashboard/stocks.png" alt="">
                    <span> Stocks</span>
                </a>
            </div>

            <div class="page-container">
                <a href="/crypto">
                    <img src="../images/dashboard/crypto.png" alt="">
                    <span> Crypto</span>
                </a>
            </div>

            <div class="logout">
                <a href="/logout">
                    <i class="fa-solid fa-power-off"></i><span>Logout</span>
                </a>
            </div>
        </div>
        
    </header>
</body>

</html>