<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Portfolio Manager</title>

    <!-- <link rel="stylesheet" href="/css/home.css" /> -->
    <link rel="stylesheet" href="/css/stocks/colors.css" />
    <link rel="stylesheet" href="/css/home2.css" />
</head>

<body>
    <div class="container">
        <div class="head">Portfolio <br><span class="head-later">Manager</span></div>
        <nav>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup"><span class="sg">Create Account</span></a></li>
            </ul>
        </nav>
        <div class="content">
            <div class="content-container">
                <h2>Welcome to</h2>
                <h1>Portfolio Manager</h1>
                <p>
                    Life is good when you're on top of your finances. 
                </p>
                <p>
                    At Portfolio Manager we help you manage it all in one place, effortlessly.
                    Start keeping track of your assets and liabilities today!
                </p>
            </div>
            <div class="pic"><img src="../images/home-img.png" alt=""></div>
        </div>
    </div>
</body>

</html>