<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/40989200a5.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/css/signup.css">

    <title>Sign Up</title>
    <script>
        function disableSubmit() {
         document.getElementById("submit").disabled = true;
        }
       
         function activateButton(element) {
       
             if(element.checked) {
               document.getElementById("submit").disabled = false;
              }
              else  {
               document.getElementById("submit").disabled = true;
             }
       
         }
       </script>
</head>

<body onload="disableSubmit()">
    <div class="pic"></div>
    <div class="main">
    <h1>Create New Account</h1>

    <p class="error">
        <% if (messages.error) { %>
        <%= messages.error %>
        <% } %>
    </p>
    
    <form action="/signup" method="post">
        <div>
            <input type="text" name="username" placeholder="Username">
        </div>
        <div>
            <input type="email" name="email" placeholder="Email">
        </div>
        <div>
            <input type="password" name="password" placeholder="Password">
        </div>
        <div>
            <input type="checkbox"  onchange="activateButton(this)"> <span>I agree with <a href="/terms_and_conditions">terms and condtions</a></span>
        </div>
        <div>
            <button id="submit" type="submit" name="submit">Create Account</button>    
        </div>
    </form>


    <p>-OR-</p>
    

    <a href="/auth/google"><button class="google"> <img class="png1" src="https://img.icons8.com/color/48/000000/google-logo.png" width="18px">  Sign up with Google</button></a>
    <a href="/auth/facebook"><button class="fb"><img class="png2" src="https://img.icons8.com/fluency/48/000000/facebook-new.png" width="18px"></i>  Sign up with Facebook</button></a>
</div>


    
</body>



</html>