<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stocks.css">
    <title>Stocks</title>
</head>
 
<body>
    <div id="loading" class="hide"></div>
    <input type="text" id="searchbar" placeholder="Search company here" name="hello">
    <header>
        <span>Symbol</span>
        <span>Name</span>
        <span>Currency</span>
        <span>Exchange</span>
        <span>Country</span>
        <span>Type</span>
    </header>
    <div id="search_list">
        
    </div>
    <div id="list">
    </div>


    
    <script>
        
        
    </script>
    <script src="js/config.js"></script>
    <script src="js/stocks.js"></script>
</body>

</html>