@import url("stocks/colors.css");

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Brandon Grotesque','Lato';
    font-weight: inherit;
}

html{
    box-sizing: border-box;
    font-weight: 400;
}

body{
    /* color: var(--offwhite); */
    color: var(--darkBlue);
}

header{
    padding: 2rem;
    max-width: 15rem;
    height: 100vh;
    background-color: var(--darkBlue);
    color: var(--offwhite);
}

h1{
    font-size: 1.75rem;
    font-weight: 500;
}

.page-container{
    display: flex;
    align-items: center;
    margin: 2rem 0;
    font-weight: 300;
    opacity: 0.4;
}

.page-container a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--offwhite);
}

.page-container img{
    margin-right: 1rem;
}

.page-container:hover{
    cursor: pointer;
    opacity: 1;
}


.logout{
    opacity: 0.4;
}

.logout a{
    color: var(--offwhite);
    text-decoration: none;
    position: absolute;
    bottom: 2rem;
    display: flex;
    align-items: center;
    font-weight: 300;
}

.logout svg{
    margin-right: 0.5rem;
    font-weight: 300;
}

.logout:hover{
    opacity: 1;
}

.grid-container{
    display: grid;
    max-width: 100%;
    max-height: 100%;
    grid-template-columns: 15rem 1fr;
}

.data-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: lightgrey;
    /* gap: 1rem; */
}

.data-container > *{
    /* border: 1px solid red; */
    box-shadow: 0px 0px 7px rgb(160, 160, 160);
    background-color: white;
    margin: 1rem;
}

.currently-selected{
    opacity: 1;
}
