body{
    margin: 0;
    padding: 0;
    background-color: #112D4E;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pic{
    background: url("../images/signup_login.png") no-repeat center;
    background-size: cover;
    height: 75vh;
    width: 87vh;
    position: absolute;
    top: 80px;
    left: 130px;
    border-radius: 30px;
}
.main{
    background-color: #ffffff;
    height: 75vh;
    width: 85vh;
    position: absolute;
    top: 80px;
    left: 640px;
    border-radius: 20px;
}



h1{
    
    color: #3F72AF;
    position: absolute;
    left: 175px;
    top: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 35px;

}

p{
    color: #112D4E;
    margin-left: 214px;
    margin-top: 136px;
    font-size: 20px;
    font-weight: 500;
}


.google, .fb{
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 98px;
    font-size: 12px;
    padding: 5px;
    border: none;
    border-radius: 14px;
    background-color: #F9F7F7;
    color: #112D4E;
    cursor: pointer;
    border: 2px solid #F9F7F7;
    font-weight: 600;
    box-shadow: 2px 2px 5px #83838375 ;


}
.google{
    width: 170px;
    left: 59px;
}
.fb{
    width: 180px;
    left: 241px;
}   


.fb:hover , .google:hover{

    background-color:#3F72AF;
    color: white;
    border: 2px solid #3F72AF;
}


form{
    position: absolute;
    top: 174px;
    right: 130px;
    
} 

input{
    margin: 10px;
    height: 30px;
    width: 351px;
    background: none;
    /* border-color: white; */
    border: none;
    border-bottom: 2px solid #abb7cc;
    outline: none;
    align-items: left;
} 
input::placeholder{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: #abb7cc;
}

span{
    margin-left: 11px;    
}

span a{
    color:#3F72AF;
    cursor: pointer;
    font-weight: 600;
}

#submit{
    position: absolute;
    top: 153px;
    right: 8px;
    font-size: 18px;
    padding: 7px;
    border: none;
    border-radius: 21px;
    background-color: #3F72AF;
    color: #F9F7F7;
    width: 359px;
    cursor: pointer;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 2px 2px 6px #959595;

}

.later{
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: -90px;
    top: 266px;
    font-size: 16px;
    font-weight: 500;

}

.later a{
    color: #3F72AF;
    font-weight: 600;
}

 .png1{
    position: absolute;
    top: 5px;
    left: 7px;
}


.png2{
    position: absolute;
    top: 5px;
    left: 7px;
}