@import url("stocks/colors.css");

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Brandon Grotesque','Lato';
    /* font-family: 'Lato'; */
    font-weight: inherit;
    color: white;
}

html{
    box-sizing: border-box;
    font-weight: 400;
}

body{
    /* background-color: var(--darkBlue); */
    background-color: var(--lightBlue);
    /* background-color: rgba(219, 226, 239, 0.267); */
    /* background-color: var(--red); */
    background-color: rgb(40, 50, 55);
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pic{
    width: 45vw;
    height: 75vh;
}

.pic img{
    width: 45vw;
    height: 75vh;
    border-radius: 1.5rem 0 0 1.5rem;
}

.main{
    width: 35vw;
    height: 75vh;
    background-color: #fff;
    padding: 3.125rem;
    border-radius: 0 1.5rem 1.5rem 0;
}

h1{
    /* color: var(--mediumBlue); */
    color: var(--darkBlue);
    /* color: rgb(40, 50, 55); */
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
}

.signInButtons{
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;
}

.signInButtons a{
    text-decoration: none;
    border-radius: 1rem;
    /* box-shadow: 2px 2px 4px  rgb(197, 197, 197); */
    padding: 0 0.5rem;
    width: 12rem;
    min-height: 2rem;
    /* background-color: var(--offwhite); */
    /* background-color: rgb(220, 226, 238); */
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
}

.signInButtons button {
    color: grey;
    margin-left: 0.5rem;
    height: 2rem;
    border: none;
    /* border: 1px solid var(--darkBlue); */
    border-left: none;
    border-right: none;
    /* background-color: var(--offwhite); */
    background-color: white;
}

.signInButtons a:hover, .signInButtons a:hover > .google, .signInButtons a:hover > .fb{
    cursor: pointer;
    color: rgb(40, 50, 55);
    border-color: rgb(40, 50, 55);
}

.or{
    text-align: center;
    margin-top: 2rem;
    /* margin-bottom: 1.5rem; */
    color: grey;
}

form div{
    margin-top: 2rem;
}

form input{
    color: rgb(40, 50, 55);
    width: 100%;
    border: none;
    /* border-bottom: 1px solid var(--lightBlue); */
    border-bottom: 1px solid #abb7cc;
    font-size: 1rem;
}

form input::placeholder{
    /* color: var(--mediumBlue); */
    color: #abb7cc;
    font-size: 0.9rem;
}

form input:focus{
    outline: none !important;
    border: none;
    border-bottom: 1px solid rgb(40, 50, 55);
}

.forgotPassword{
    display: block;
    margin-top: 1rem;
}

.forgotPassword a{
    margin-top: 1rem;
    font-size: 0.9rem;
    /* color: var(--mediumBlue); */
    /* color: rgb(40, 50, 55); */
    color: rgb(76, 113, 170);
    /* text-decoration: underline 2px var(--mediumBlue); */
    /* text-decoration: underline 1px rgb(40, 50, 55); */
    text-decoration: underline 1px rgb(76, 113, 170);
}

form button{
    display: block;
    margin: 3rem auto 0;
    width: 15rem;
    padding: 0.25rem;
    font-size: 1.125rem;
    border-radius: 1rem;
    border: none;
    /* background-color: var(--mediumBlue); */
    /* background-color:  rgb(40, 50, 55); */
    background-color: rgb(76, 113, 170);
    color: var(--offwhite);
}

form button:hover{
    cursor: pointer;
    background-color: rgb(40, 50, 55);
}

.later{
    margin-top: 2rem;
    color: rgb(40, 50, 55);
}

.later a{
    /* text-decoration: underline 1px solid var(--mediumBlue); */
    text-decoration: underline 1px solid rgb(76, 113, 170);
    /* color: var(--mediumBlue); */
    color: rgb(76, 113, 170);
}


.checkbox{
    width: 1.5rem;
    cursor: pointer;
    display: inline;
}


form div span {
    color: rgb(40, 50, 55);
}

form div span a{
    /* text-decoration: 1px underline var(--mediumBlue); */
    /* color: var(--mediumBlue); */
    text-decoration: 1px underline rgb(76, 113, 170);
    color: rgb(76, 113, 170);
}
