body{
    margin: 0;
    padding: 0;
    background-color: #11351B;

}
.pic{
    background: url(main.jpeg) no-repeat center;
    background-size: cover;
    height: 75vh;
    width: 87vh;
    position: absolute;
    top: 80px;
    left: 130px;
    border-radius: 26px;
}
.main{
    background-color: white;
    height: 75vh;
    width: 85vh;
    position: absolute;
    top: 80px;
    left: 640px;
    border-radius: 15px;

}



h1{
    
    color:#34A853;
    position: absolute;
    left: 94px;
    top: 5px;
    font-weight: 900;

}

p{
    margin-left: 217px;
    margin-top: 136px;
    font-size: 30px;
}

.google{
    position: absolute;
    font-family: sans-serif;
    width: 135px;
    left: 90px;
    top: 94px;
    font-size: 17px;
    padding: 3px;
    border-radius: 14px;
    background-color: white;
    cursor: pointer;
    border-color: white;
    font-weight: 600;
}
.fb{
    position: absolute;
    font-family: sans-serif;
    width: 135px;
    left: 240px;
    top: 92px;
    font-size: 17px;
    padding: 3px;
    border-radius: 14px;
    background-color: white;
     cursor: pointer;
     border-color: white;
     font-weight: 600;
}   


.fb:hover , .google:hover{

    background-color:#34A853;
    color: white;
}


 form{
    position: absolute;
    top: 174px;
    right: 83px;
    
} 

input{
    margin: 10px;
    height: 30px;
    width: 351px;
    background: none;
    border-color: white;
} 
input[type="checkbox"]{
    position: absolute;
    left: -168px;
    bottom: 11px;
    height: 13px;
}

span{
    margin-left: 29px;
    
}

span a{
    color:rgb(27, 150, 27);
    cursor: pointer;
}

#submit{
    position: absolute;
    top: 224px;
    right: 23px;
    font-size: 18px;
    padding: 7px;
    border-radius: 22px;
    font-weight: 600;
    background-color:#34A853;
    color: white;
    width: 333px;
    cursor: pointer;

}

 .png1{
    position: absolute;
    top: 3px;
    left: 15px;
}

.png2{
    position: absolute;
    top: 2.5px;
    left: 6px;
}